<div ng-controller="formController">
<form id= "form" > 
	<label>Event Name:    </label>
	    <input type="text"  ng-model="event_title" required /><br>
	 <label>Event Start Date:   </label>
	    <input type="date"  ng-model="event_date"  required /><br>
	  <label>Event Start Time:  </label>
	    <input type="time"  ng-model="event_time" value="{{event_time | date: 'HH:mm:ss'}}" required /><br>   
	 <label> Venue:  </<label>
	 	<input type="text"  ng-model="event_venue"  required /><br>
	 <label>Event Type: </label>

	   <select ng-model="event_type">
		  <option value="art" />Arts & Culture</option>
		  <option value="entertainment">Entertainment</option>
		  <option value="sports<"/>Sports & Fitness</option>
		  <option value="adventure"/>Adventure</option>
		  <option value="tech"/>Biz & Tech</option>
		  <option value="party"/>Parties & NightLife</option>
		</select><br>

		

	<label>Ticket Price:  </label>
	 	<input type="number" ng-model="event_price"  required /><br>
	<label>	Description:  </label>
		<input type="text" ng-model="event_description"  required  /><br>
    <input type="button" value="Submit" ng-click="myFunc()">
    



</form>

</div>