<html ng-app="EventsManager">
<head> 
<title>Events Manager</title>
<base href="/">
<link type="text/css" rel=stylesheet href=style.css />
<link type="text/css" rel=stylesheet href=CSSfile/main.css /> 

</head>
<body ng-controller="EventController">

    <!-- the upper div which contain title,city and login buttons -->
	<div class="topbar">

		
			<div class="logo"><a href='/#/' ><img  src="./images/logo/logo2.png" ></a></div>
			<!-- <div class="city"> <b>Bangalore </b></div> -->
			<!-- <div class="Title" ><b> UPCOMING EVENTS</b></div> -->

			<div class="addons">

				<% if(typeof user== 'undefined') { %>
					<a href="/auth/google" class="btn btn-danger googlebtn"><span class="fa fa-google-plus"></span> <img  src="loginImage.png"></a>
					<a href='/auth/google' class="hvr-back-pulse-href" type="button"> + Create</a> 
				<% }else { %>
				    <script>  var usr_id = <%= user.id %>;
				    var usr_name ="<%= user.name %>";
					</script>
					<!-- user profile -->

					<div class="dropdown">
						  <button class="dropbtn">Hi <%= user.name %></button>
						  <div class="dropdown-content">
						    <a href="/myEvents">My Events</a>
						    <a href="/logout">Logout</a>
						  </div>
					</div>
					
					<!-- <a href='/logout' class="hvr-back-pulse-href" type="button"> LOG OUT</a> -->
					<a href='/#create' class="hvr-back-pulse-href" type="button"> + Create</a> 
				 <% } %>
					
			</div>

	

	</div>



	

	 <!-- in this div the types of events filer is added -->
	<div class="filter">

		<div class="eventtype">
			<button ng-click="typeclick('type',$event)" id="art" type="button">Arts & Culture </button>
			<button ng-click="typeclick('type',$event)" id="entertainment" type="button">Entertainment</button>
			<button ng-click="typeclick('type',$event)" id="sports" type="button">Sports & Fitness</button>
			<button ng-click="typeclick('type',$event)" id="adventure" type="button">Adventure</button>
			<button ng-click="typeclick('type',$event)" id="tech" type="button">Biz & Tech</button>
			<button ng-click="typeclick('type',$event)" id="party" type="button">Parties & NightLife</button>  
		</div>
		

		<div class="date">
			<button ng-click="dateclick('datetime',$event)" id="today" type="button">Today</button>
			<button ng-click="dateclick('datetime',$event)" id="tomorrow" type="button">Tommorow</button>
			<button ng-click="dateclick('datetime',$event)" id="week" type="button">This Week</button>
			<button ng-click="dateclick('datetime',$event)" id="month" type="button">This Month</button>
		</div>

	</div>



 <div class="totalview" ng-view  ></div>


   
 <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>  -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload-shim.js"></script>


<script  type="text/javascript" src="app.js"> </script>

<script  type="text/javascript" src="factory/createFactory.js"> </script>
<script  type="text/javascript" src="factory/dateFactory.js"> </script>
<script  type="text/javascript" src="factory/eventFactory.js"> </script>
<script  type="text/javascript" src="factory/imageFactory.js"> </script>
<script  type="text/javascript" src="factory/resultsFactory.js"> </script>
<script  type="text/javascript" src="factory/typeFactory.js"> </script>

<script  type="text/javascript" src="controller/eventController.js"> </script>
<script  type="text/javascript" src="controller/imageController.js"> </script>
<script  type="text/javascript" src="controller/formController.js"> </script>
<script  type="text/javascript" src="controller/uploadController.js"> </script>

<script  type="text/javascript" src="animate.js"> </script>


</body>
</html>