<html ng-app="EventsManager" >
<head>

<title>Events Manager</title>
<base href="/">
<link type="text/css" rel=stylesheet href=style.css />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js"></script>

<script type="text/javascript"  src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script> -->

<script  type="text/javascript" src="app.js"> </script>
<script  type="text/javascript" src="factory/registerFactory.js"> </script>
<script  type="text/javascript" src="factory/createFactory.js"> </script>
<script  type="text/javascript" src="factory/dateFactory.js"> </script>
<script  type="text/javascript" src="factory/eventFactory.js"> </script>
<script  type="text/javascript" src="factory/imageFactory.js"> </script>
<script  type="text/javascript" src="factory/loginFactory.js"> </script>
<script  type="text/javascript" src="factory/resultsFactory.js"> </script>
<script  type="text/javascript" src="factory/typeFactory.js"> </script>

<script  type="text/javascript" src="controller/eventController.js"> </script>
<script  type="text/javascript" src="controller/imageController.js"> </script>
<script  type="text/javascript" src="controller/formController.js"> </script>
<script  type="text/javascript" src="controller/loginController.js"> </script>
<script  type="text/javascript" src="controller/registerController.js"> </script>

<script  type="text/javascript" src="animate.js"> </script>


</head>
<body ng-controller="EventController as EC">

    <!-- the upper div which contain title,city and login buttons -->
	<div class="topbar">

		<div class="up">
	    	<div class="city"> <b>Bangalore </b></div>

	    	<div class="addons">

	    		<a href='#login' id="login"  type="button">LOGIN</a>
	    		<a href='#register' id="register"  type="button">SIGN UP</a>
	   			<a href='#create' id="create" type="button"> + Create</a> 
	   		</div>
		</div>


		<div class="Title">
	 	<b> UPCOMING EVENTS </b>
		</div>

	</div>

	 <!-- in this div the types of events filer is added -->
	<div class="filter">

		<div class="eventtype">
		 <ul>
	     	<button ng-click="typeclick('type',$event)" id="art" type="button">Arts & Culture </button>
	     	<button ng-click="typeclick('type',$event)" id="entertainment" type="button">Entertainment</button>
	     	<button ng-click="typeclick('type',$event)" id="sports" type="button">Sports & Fitness</button>
	     	<button ng-click="typeclick('type',$event)" id="adventure" type="button">Adventure</button>
	     	<button ng-click="typeclick('type',$event)" id="tech" type="button">Biz & Tech</button>
	     	<button ng-click="typeclick('type',$event)" id="party" type="button">Parties & NightLife</button>
	     <ul>
	     </div>

    	<div class="date">
    	<button ng-click="dateclick('datetime',$event)" id="today" type="button">Today</button>
    	<button ng-click="dateclick('datetime',$event)" id="tomorrow" type="button">Tommorow</button>
    	<button ng-click="dateclick('datetime',$event)" id="week" type="button">This Week</button>
    	<button ng-click="dateclick('datetime',$event)" id="month" type="button">This Month</button>

    	</div>



	</div>

   <div ng-view >

   </div>


   




</body>
</html>