<html ng-app="EventsManager" >
<head>

<title>Events Manager</title>
<base href="/">
<link type="text/css" rel=stylesheet href=style.css />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script> -->
<script  type="text/javascript" src="app.js"> </script>

</head>
<body ng-controller="EventController as EC">

    <!-- the upper div which contain title,city and login buttons -->
	<div class="topbar">

		<div class="up">
	    	<div class="city"> <b>Bangalore </b></div>

	    	<div class="addons">

	    		<button id="login" type="button">LOGIN</button>
	   			<button id="create" type="button"> + Create</button> 
	   		</div>
		</div>


		<div class="Title">
	 	<b> UPCOMING EVENTS </b>
		</div>


	</div>

	 <!-- in this div the types of events filer is added -->
	<div class="filter">

		<div class="eventtype">
	     	<button ng-click="typeclick($event)" id="art" type="button">Arts & Culture </button>
	     	<button ng-click="typeclick($event)" id="health" type="button">Health</button>
	     	<button ng-click="typeclick($event)" id="sports" type="button">Sports & Fitness</button>
	     	<button ng-click="typeclick($event)" id="adventure" type="button">Adventure</button>
	     	<button ng-click="typeclick($event)" id="party" type="button">Parties & NightLife</button>
	     </div>

    	<div class="date">
    	<button ng-click="dateclick($event)" id="today" type="button">Today</button>
    	<button ng-click="dateclick($event)" id="tomorrow" type="button">Tommorow</button>
    	<button ng-click="dateclick($event)" id="week" type="button">This Week</button>
    	<button ng-click="dateclick($event)" id="month" type="button">This Month</button>
    	</div>

	</div>
    
    <a href="#allevents">ejgfjegrjhdfvjbdhj</a>
   <div ng-view>
   </div>



</body>
</html>