
<div class="banner" ng-style="{'background-image': 'url({{backgroundImage}})'}">
				<div class="overlay "></div>
				<div class="content">
					<h2 style="margin-bottom:5px;">{{titleMessage}}</h2> 
					<div style="font-size:20px; color:#fff;">{{subMessage}}
					</div>

											
				</div>
	</div><br> <hr>

<div class="total"  
      ng-repeat="event in products" id={{event.event_id}} 
       ng-click="go('events',event.event_id)">

	<div class="box" > 
		<img ng-src="images/{{event.thumb}}">
		<div class="overbox">
			<div class="title overtext"> {{event.title}} </div>
	 	</div>
	</div>

    <div class="datadata">

		<div class=" belowtext venue"> 

	         <span> <img src="./images/assets/location.png"></span>
			<span class="venue">  {{event.venue}} </span>

		</div>

	    <div class=" belowtext datetime"> 
           
            <span> <img src="./images/assets/calender.png"></span>
			<span class="date_time"> 
			 {{event.dt.replace('T', ' ').slice(0,10)}}
			 </span>

	    </div>
	</div> 

</div>  

    <p class="message" ng-show="!products.length">NO EVENT FOUND!!</p>









